body {
    margin: 0;
    height: 100vh;
}

#nav {
    background-color: rgb(51 51 51);
    
}

.flex {
    display: flex;
    width: 100%;

}

ul {
    list-style-type: none;
    margin: 0;
    justify-content: center;

}

ul li {
    padding: 10px;
    color: white;
    
}

ul li:hover {
    background-color: lightseagreen;
    cursor: pointer;
}

#content {
    height: 100%;
    flex-direction: column;
    background: url('./food-background.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#responsive-content {

    height: inherit;

}
