body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav {
    background-color: rgb(51 51 51);
    
}

.flex {
    display: flex;
    width: 100%;

}

ul {
    list-style-type: none;
    margin: 0;
    justify-content: center;

}

ul li {
    padding: 10px;
    color: white;
    
}

ul li:hover {
    background-color: lightseagreen;
    cursor: pointer;
}

#content {
    height: 100%;
    flex-direction: column;
    background: url('./food-background.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#responsive-content {

    height: inherit;
    display: flex;
    justify-content: center;



}

.container-black {
    background-color: rgba(1, 1, 1, 0.6);
    width: 100%;
    align-items: center;
    height: 100%;
    display: flex;
    color: white;
}

.container {
    background-color: white;
    min-height: 70%;
    width: 100%;
    padding: 30px;
    color: black;
    display: flex;
    justify-content: center;

}

.logo {
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    color: white;
    padding: 10px;

}

.menu-section {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.menu-item {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    max-width: 300px;
    min-width: 250px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.menu-space {
    border-bottom: 1px solid gray;
}

.menu-description {
    font-size: 13px;
    color: gray;
    grid-column: 1/4;
}

.menu-name, .menu-price {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}


